<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>My Flask App</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
</head> 
<body> 
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contactus">Contactus</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
          <div class="dropdown-content">
            <a href="/aboutus">About Us</a>
            <a href="/callpubsub">Pubsubprocess</a>
            <a href="/processfile">Link 3</a>
          </div>
        </li>
      </ul>
      
      <h1>Upload File</h1>
      <form action="{{ url_for('upload_document_files') }}" method="POST" enctype="multipart/form-data">
        <div class="input-file-container">  
          <div><input class="form-control form-control-sm" id="formFileSm" type="file" name="pdf-file"></div>
          <p class="textnote">Drag your files here or click in this area</p>
          <br/>
          <br/>
          <div>
            <input type="submit" name="submit" value="Upload" class="btnMd btnYellow">
            
        </div>
        </div>                                
      </form>
      
</body> 
</html> 