<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>My Flask App</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
</head> 
<body> 
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contactus">Contactus</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
          <div class="dropdown-content">
            <a href="/aboutus">About Us</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
      </ul>
      
      <h1>Dropdown Menu inside a Navigation Bar</h1>
      <p>Hover over the "Dropdown" link to see the dropdown menu.</p>
</body> 
</html> 